
<div class="modal fade" id="aboutus" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading"><center>About Us</center></h4>
            </div>
            <div class="modal-body">
                <center><br/>
                <h4><strong>Our Vision:</strong> पाठयेम संस्कृतं जगति सर्वमानवान् ! प्रापयेम भारतं सपदि परमवैभवम् !!</h4>
                <p ><strong>Our Mission:</strong> Reviving a language, rejuvenating a culture, rebuilding a nation that is Bharat!<br/>
                Samskrita Bharati (founded 1981) is a movement for the continuing protection, development and <br/>propagation of the Sanskritam language as well as the literature, tradition and the knowledge systems embedded in it.<br/>
                Samskrita Bharati is a non-profit organization comprised of a large team of very dedicated and<br/> enthusiastic volunteers who take the knowledge of Sanskrit to all sections of society irrespective of<br/> race, gender, region, religion, caste, age etc.<br/>
                <p>
                </center>
            </div>
            <div class="modal-footer ">
            </div>
        </div> <!-- /.modal-content --> 
    </div> <!-- /.modal-dialog -->
</div>

