<html>
    <meta name="viewport" content="width=device-width, user-scalable=no">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
	<nav class = "navbar navbar-inverse">
		<div class = 'container-fluid'>
		             
		    <div class = 'navbar-header'>
			<button type = 'button' class = 'navbar-toggle' data-toggle = "collapse" data-target = "#mainnavbar">
				<span class="glyphicon glyphicon-user" style = "color:white"></span>
						
			</button>                
			<div class = "col-md-offset-8">			
				<a class = 'navbar-brand'>
				      संवित्
				</a>
			</div>
		    </div>
		    <div class = "collapse navbar-collapse" id = 'mainnavbar'>
			<div >			
			<div class = "col-md-offset-7 padding-right:30px">			
				<ul class = "nav navbar-nav">
					  <li><a href="#">नमस्ते   {{ name }}!!! </a></li>
					   <li><a href="/logout">Logout</a></li>
					
				</ul>
								
				
			</div>
				
						
					
	    		            
	    </div>
     </nav>
	 <div class = "container-fluid, col-md-offset-0" >
		    <ul class="nav nav-tabs">
			 	
			  <li class="active"><a data-toggle="tab" href="#home">Registered Users</a></li>
			  <li><a data-toggle="tab" href="#menu1">Add Users</a></li>
			  <li><a data-toggle="tab" href="#menu2">Other events</a></li>
			</ul>  
    </div>
    <div class = "tab-content">
        <div id = "home" class = "tab-pane fade in active container-fluid">
            <table class = "table table-striped">
                <div class = "container-fluid">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set i = -1%}
                        {% for user in userinfo %}
                            {% set i = i + 1%}
                            <tr>
                                <td>{{user['name']}}</td>                    
                                <td>{{user['email']}}</td>                    
                                <td>{{user['role']}}</td>
                                <td> <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Edit" data-toggle="modal" data-target="#{{ i }}" ><span class="glyphicon glyphicon-pencil"></span></button></p><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Edit" data-toggle="modal" data-target="#a{{ i }}" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                            </tr>                    
                            <div class="modal fade" id="{{ i }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content"> 	
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                        <h4 class="modal-title custom_align" id="Heading">Edit User Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class = "form" action = "adminedit" method = "POST">
                                            <label>Name</label>
                                            <input type = "text" class = "form-control" name = "name" id = "name" value = "{{user['name']}}" ></input>
                                            <label>Email</label>
                                            <input type = "text" class = "form-control" name = "email" id = "email" value = "{{user['email']}}" ></input>
                                            <label>Role:</label><br/>
                                            <select id = "role" name = "role" required>
                                                <option value="" id = "role" name = "role" disabled selected hidden>{{user['role']}}</option>
                                                <option value="student" >student</option>
                                                <option value="samyojaka" >samyojaka</option>
                                                <option value="admin" >admin</option>
                                            </select>
                                            <br/><br/>
                                            <center>
                                                <input type = "submit" value = "Edit" style = "background-color:green;width:60px;height:35px;font-color:white" ></input>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button></center>
                                            </center>
                                        </form>
                                             
                                    </div> 	
                                    <div class="modal-footer ">
                                    </div>
                                    </div>
                                    <!-- /.modal-content --> 
                                    </div>
                                    <!-- /.modal-dialog -->
                            </div>
                            <div class="modal fade" id="a{{ i }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                        <h4 class="modal-title custom_align" id="Heading">Delete User</h4>
                                   </div>
                                   <div class="modal-body">
                   
                                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete the shibira?</div>
                   
                                    </div>
                                    <div class="modal-footer ">
                                        <a href = "/removeuser?username={{ user['username'] }}"><span class="glyphicon glyphicon-ok-sign"></span>Yes</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                                    </div>
                                    </div>
                                    <!-- /.modal-content --> 
                                    </div>
                                    <!-- /.modal-dialog -->
                            </div>

                        {% endfor %}
                    </tbody>
                </div>
            </table>
        </div>
        <div id = "menu1" class = "tab-pane fade">
            <h1>Fill up form</h1>
            <form class="form-inline" role="form" action = "/massupload" method = "POST">
            {% for i in range(1,10) %}
                
                    <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email{{i}}" name = "email">
                    </div>
                    <div class="form-group">
                    <label for="name">name:</label>
                    <input type="text" class="form-control" id="name{{i}}" name = "name">
                    </div>
                    <div class="form-group">
                    <label for="name">Phone Number:</label>
                    <input type="text" class="form-control" id="ph{{i}}" name = "name">
                    </div>
                    <label for="name">Role:</label>
                    <select id = "role{{i}}" name = "role">
                        <option value="student" selected >student</option>
                        <option value="samyojaka" >samyojaka</option>
                        <option value="admin" >admin</option>
                    </select>
                    <br/><br/>
            {% endfor%}
            <center><input type="submit" value = "Upload"></input></center>
            </form>
        </div>
    </div>
</html>
