<html>
<script src = "/static/js/google.js"></script>

<script type = 'text/javascript' src = 'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2pJjI8-t-wcMuxw9GX1fdhiiZTwOpmVE&callback=initMap"></script>
<script src = "/static/js/app.js"></script>

<script src="https://apis.google.com/js/platform.js" async defer></script>	
<style>
      html, body {
        height: 100%;
        margin: 80px;
        padding: 20px;
      }
      #map {
        height: 60%;
      }
      
    </style>

<body ng-app="myApp">
    <div id="map"></div>	
    <div ng-controller="myCtrl">
        <span>Message is //mess//</span>
    </div>
	 <div id="map"></div>
		   		
		
		
		
		

			
<meta name="google-signin-client_id" content="241914619184-ecdv0arfl89j4utfhijf1jshdrdmdsrh.apps.googleusercontent.com">	
	
</body>









</html>

