<html>
  <head>
	<meta name="google-signin-client_id" content="241914619184-ecdv0arfl89j4utfhijf1jshdrdmdsrh.apps.googleusercontent.com">	
	<meta name="viewport" content="width=device-width, user-scalable=no">	

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
	<!-- <script src='https://code.angularjs.org/1.5.8/angular.min.js'></script>	
	<script src = "/static/js/app.js"></script>	
    -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>	
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	
	<!-- Optional theme -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/css/default.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src = "/static/js/login.js"></script>	
  </head>

  <script>
    $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
            $('.row-offcanvas').toggleClass('active');
        });
    });
  </script>
  
  {% block header %} 
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header; col-xs-offset-1">
            <button type="button" class="pull-left navbar-toggle" data-toggle="offcanvas" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class = "col-xs-offset-4">			
                <a class = 'navbar-brand'>
                    <font size = "6" color='orange'> संस्कृतभारती</font>
                </a>
            </div>
        </div>
    </div><!--/.navbar -->
  {% endblock %}
  
  {% include 'signin.html' %}
  {% include 'updateprofile.html' %}
  {% include 'elearning.html' %}
  {% include 'aboutus.html' %}

  {% block content %} 
    <div class="row-offcanvas row-offcanvas-left">
        {% block sidebar %} 
            {% include 'sidebar.html' %}
        {% endblock %}

        {% block body %} 
        {% endblock %}
    </div>

  {% endblock %}
</html>
