
<div class="modal fade" id="elearning" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading"><center>E-Learning</center></h4>
            </div>
            <div class="modal-body">
                   <center><br/>
                    <h4><strong>Comming Soon!</strong></h4>
                    <p>Learn samskritam sitting at home!!!!</p>
                    <p>Learn samskritam at your own pace</p>
                    </center>
            </div>
            <div class="modal-footer ">
            </div>
        </div> <!-- /.modal-content --> 
    </div> <!-- /.modal-dialog -->
</div>
