{% extends "baselocal.html" %}

{% block content %}
		
<!--<div ng-init = "showsignin = false, showsignup = false" ng-app = 'profile'>
-->
	<nav class = "navbar navbar-default">
		<div class = 'container-fluid'>
		    <div class = 'navbar-header'>
		    	<button type = 'button' class = 'navbar-toggle' data-toggle = "modal" data-target = "#login">
			        Sign in
                </button>                
			    <div class = "col-md-offset-8">			
				    <a class = 'navbar-brand'><font size = 6>
				           संवित्
				    </font></a>
			    </div>
            </div>
            <div class = "collapse navbar-collapse" id = 'mainnavbar'>
			    <div class = "col-md-offset-7 padding-right:30px">			
				    <ul class = "nav navbar-nav">
					    <li><a data-toggle = "modal" data-target = "#login">Sign in</a> </li>
					</ul>
				</div>						            
	        </div>
    </nav>
<!--
    <landpage ng-show = "true"></landpage>
	<body ng-app = 'myApp'></body>
</div>
-->

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"> 	
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading"><center>Login</center></h4>
            </div>
            <div class="modal-body">
                <form action = "#" method = "POST">
                    <center>
                        <label>Email:</label><br/>
                        <input type = "email" id = "email" name = "email"></input><br/><br/>
                        <input type = "submit" value = "login" ></input><br/><hr>
                    </center>
                </form>
                <div class="modal-footer ">
                    <p><center>Or Connect With:</center></p>
                    <td><div class="g-signin2" data-onsuccess="onSignIn">click</div></td>
                    <td><button class = "btn btn-primary" onClick="signOut()">signout</button></td>
                </div>
            </div>
        </div> <!-- /.modal-content --> 
    </div> <!-- /.modal-dialog -->
</div>

{% endblock %}
