{% extends "baselocal.html" %}

{% block body %}
		
<!--<div ng-init = "showsignin = false, showsignup = false" ng-app = 'profile'>
	<nav class = "navbar navbar-default">
		<div class = 'container-fluid'>
		    <div class = 'navbar-header'>
		    	<button type = 'button' class = 'navbar-toggle' data-toggle = "modal" data-target = "#login">
			        Sign in
                </button>                
			    <div class = "col-md-offset-8">			
				    <a class = 'navbar-brand'><font size = 6>
                        <img src="/static/images/sb_logo.png">
				    </font></a>
			    </div>
            </div>
            <div class = "collapse navbar-collapse" id = 'mainnavbar'>
			    <div class = "col-md-offset-7 padding-right:30px">			
				    <ul class = "nav navbar-nav">
					    <li><a data-toggle = "modal" data-target = "#login">Sign in</a> </li>
					</ul>
				</div>						            
	        </div>
    </nav>
    <landpage ng-show = "true"></landpage>
	<body ng-app = 'myApp'></body>
</div>
-->


{% endblock %}
