<html>
    <style>
        .image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

    h1 { 
   position: absolute; 
   top: 30%; 
   left: 0; 
   width: 100%;
   color: white; 
}
    
    </style>
         
    <img src="/static/images/homepic.jpg" style ="width:100%;height:50%;" >
    <center>
        <h1><span><font size = "7">Find a Shibira Sitting At Home</font></span><br/><span><font size = "5">Learn Samskritam The Easy Way</font></span></h1>
       
    </center>
   <body><center>
        <div>
            <h2>Everything You need To Learn Samskritam Easily<h2><br/>
            <table cellspacing = "10">
                <col width = "550">
                <col width = "550">
                <tr>
                    <td><center><img src="/static/images/teacher.png" style = "width:100px;height:100px;"></center></td>
                    <td><center><img src="/static/images/speak.png" style = "width:100px;height:100px;"></center></td>
                </tr><tr></tr>
                <tr>
                    <th><center>Learn</center></th>
                    <th><center>Collaborate</center></th>
                </tr>
                <tr>
                    <td><center>Learn and practice samskritam <br/> from 1000+ teachers by learning in<br/> ways most suitable for you!!!</center></td>
                    <td><center>Connect, learn, speak<br/> samskritam with the fastest-growing<br/> samskritam community</center></td>
                </tr>
            </table>
        </div>
   </center>
   <div style = "background-color:#d3d3d3">
        <center><br/>
            <h4>Sneak A peak </h4>
            <table>
                <tr>
                    <td><center><img src="/static/images/land1.png" style = "width:80%;height:40%px;"></center></td>
                </tr>
            </table>
        </center><br/>
   </div>
   
   <div style = "background-color:grey">
        <center><br/>
        <h3>About Us</h3>
        <h4 style = "color:white">Our Vision: पाठयेम संस्कृतं जगति सर्वमानवान् ! प्रापयेम भारतं सपदि परमवैभवम् !!<h4>

        <p style = "color:white">Our Mission: Reviving a language, rejuvenating a culture, rebuilding a nation that is Bharat!<br/>

        Samskrita Bharati (founded 1981) is a movement for the continuing protection, development and <br/>propagation of the Sanskritam language as well as the literature, tradition and the knowledge systems embedded in it.<br/>

        Samskrita Bharati is a non-profit organization comprised of a large team of very dedicated and<br/> enthusiastic volunteers who take the knowledge of Sanskrit to all sections of society irrespective of<br/> race, gender, region, religion, caste, age etc.<br/>
        <p>
        
        </center>
        <br/>
   </div>
   </body> 
       
    
    
</html>
