<html>
	<script src = "/static/js/login.js"></script>	
	<meta name="google-signin-client_id" content="241914619184-ecdv0arfl89j4utfhijf1jshdrdmdsrh.apps.googleusercontent.com">	
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
		
    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"/>

<body>

<center>	
<div class="form-group">

	<br/><br/><br/><br/><br/>
	
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button><br/><br/>
		<div class="g-signin2" data-onsuccess="onSignIn">click</div>
		
	<div id=message></div>
		<div id=status></div>
	<signup ng-show = "showsignup"></signup>	
</center>	
</body>
<html>
