<html>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <style>
    .ui-datepicker {
    border-style:;
    border-width:5px;
    width: auto;
    height: auto;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    font:Monospace;
    word-spacing:30px;    
    background-color: white;
}
  </style>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
    $( function() {
    $( "#datepicker1" ).datepicker();
  } );

  </script>
</head>    
     <div class = "container-fluid"><center><br/></br>
        <p data-placement = "center" dat-toggle = "tooltip" title = "hostshibra"><button class = "btn btn-primary btn-lg" data-title = "hostshibira" data-toggle = "modal" data-target  = "#hostshibira">Shibira</button><br/><br/>
        <button class = "btn btn-primary btn-lg">class</button>
     </center></div>
    
     <div class="modal fade" id="hostshibira" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class = "modal-dialog" style = "background-color:#74AFAD">
            <div class = "modal-header">
                <h2>Please Fill Up Details Of Shibira</h2>
            </div>
            <div class = "modal-body">
            <div class  = "container-fluid">    
                <form class = "form" action = "#" method = "POST">
                    <label>Unique shibira name:</label>
                    <input type = "text" class = "form-control" name = "s_id" id = "s_id" required></input>
                    <label>Address:</label>
                    <input type = "text" class = "form-control" name = "address" id = "address" required></input>
                    <label>Teacher Name:</label>
                    <input type = "text" class = "form-control" name = "teachername" id = "teachername"></input>
                    <table>
                        <col width = "2500">
                        <col width = "2500">
                        <tr>
                            <td> <label>From Date:</label></td>
                            <td> <label>To Date:</label></td>
                        </tr>
                        <tr>
                            <td><input type="text"  style = "width:70%" name = "fromdate" id="datepicker" required></td>
                            <td><input type="text"  style = "width:70%" name = "todate" id="datepicker1" required></td>
                        </tr>
                        <tr>
                            <td><label>Start Time:</label></td>
                            <td><label>End Time:</label></td>
                        </tr>
                        <tr>
                            <td><input type = "text" style = "width:70%"class = "form-control" name = "endtime" id = "endtime" required></input></td>
			    <td><input type = "time" style = "width:70%" class = "form-control" name = "starttime" id = "starttime" required></input></td>
                        </tr>
                    </table> 
                    <center><br/><br/>
                        <input type = "submit" value = "host" style = "background-color:green;width:60px;height:35px;font-color:white" ></input><spacer/><spacer/>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                    </center>
                </form>
            </div>
            </div>
        </div>
     </div>
     

     <html>
