
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"> 	
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading"><center>Login</center></h4>
            </div>
            <div class="modal-body">
                <form action = "#" method = "POST">
                    <center>
                        <label>Email:</label><br/>
                        <input type = "email" id = "email" name = "email"></input><br/><br/>
                        <input type = "submit" value = "login" ></input><br/><hr>
                    </center>
                </form>
                <div class="modal-footer ">
                    <p><center>Or Connect With:</center></p>
                    <td><div class="g-signin2" data-onsuccess="onSignIn">click</div></td>
                    <td><button class = "btn btn-primary" onClick="signOut()">signout</button></td>
                </div>
            </div>
        </div> <!-- /.modal-content --> 
    </div> <!-- /.modal-dialog -->
</div>
